.history{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}
.timemachine{
    width: 350px;
    height: 420px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
}
.period{
    width: 320px;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    object-fit: cover;
}
.ancient{
    text-decoration: none;
    color: black;
}