{%  extends 'core/base.html' %}
{% load static  %}
{% block title   %}Forget Password Page{%  endblock  %}
{% block content   %}


<div>
    {% if messages  %}
        {% for message in messages  %}
            {% if message.tags == 'error'  %}
                <p>{{message}}</p>
            {%  else %}
                <p>{{message}}</p>
            {%  endif  %}
        {%  endfor  %}
    {%  endif  %}
</div>

<div>
    <form method = "POST" class = "avocado">
        {% csrf_token  %}
        <h1 class = "peach">Forget Password</h1>
        <div>
            <label class = "grapes">Email</label>
            <input type = "email" name = "email" class = "berry">
        </div>
        <button type = "submit" class = "blackberry">Reset Password</button>
    </form>
</div>



{%  endblock   %}