.apple{
    font-size: 50px;
    font-weight: thin;
    text-align: center;
    margin: 15px;
}
.orange{
    width: 500px;
    margin-left: 450px;
}
.grapes{
    display: block;
    font-weight: bold;
    margin-left: 15px;
}
.berry{
    width: 450px;
    height: 50px;
    margin: 15px;
    border-radius: 15px;
    border: 1 px solid black;
    font-weight: 15px;
    padding-left: 15px;
    margin-top: 0px;
}
.blackberry{
    padding: 15px 150px 15px 150px;
    border: 1px solid blue;
    border-radius: 20px;
    margin-left: 50px;
    font-size: 15px;
    background-color: white;
}
.blackberry:hover{
    font-weight: bold;
    background-color: #8c8cf4;
    color: white;
    border: 2px solid navy;
}
.lemon{
    text-align: center;
}
.cherry{
    width: 500px;
    margin-left: 450px;
    margin-top: 100px;
}
.peach{
    text-align: center;
}
.pineapple{
    text-align: center;
}
.avocado{
    width: 500px;
    margin-left: 450px;
    margin-top: 150px;
}
.walnut{
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
}
.cashew{
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
}
.kissmiss{
    width: 500px;
    margin-left: 450px;
    margin-top: 100px;
}
