.heading{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.tower{
    text-align: center;
}
.mobile{
    display: flex;
    flex-wrap : wrap;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}
.mobile-cover{
    height: 560px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 30px;
}
.mobile-cover:hover{
    border: 2px solid black;
    width: 440px;
    height: 580px;
    border-radius: 25px;
    box-shadow: 0px 25px 20px 0px #645b5b;
}
.network{
    width: 380px;
    height: 400px;
    border-radius: 20px;
}
.call{
    text-align: left;
    margin-left: 40px;
}
.message{
    text-decoration: none;
    color: black;
}
.outdoor{
    text-align: center;
}
.recharge{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
}
.prepaid{
    width: 200px;
    height: 120px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
}
.prepaid h3{
    margin: 0px;
    padding: 0px;
}
.talktime{
    font-size: 90px;
    margin: 0px;
    padding: 0px;
}
.failure{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 2px solid darkred;
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}
.pass{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: green;
    border: 2px solid green;
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}